    /* Custom Cursor */
    .cursor {
		position: fixed;
		top: -10%;
		width: 30px;
		height: 30px;
		background-color: #f79202;
		border: 5px solid #fff;
		border-radius: 50%;
		pointer-events: none;
		transform: translate(-50%, -50%);
		transition: transform  ease, width 0.1s ease, height 0.1s ease, opacity 0.1s ease;
		z-index: 9999;
		opacity: 1; /* Fully visible by default */
	  }
  
	  /* Hide the cursor when out of viewport */
	  .cursor.hidden {
		opacity: 0;
	  }